*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(246, 238, 238, 0.472);
    
}
.title{
    color: rgb(183, 182, 182);
    text-align: center;
}
/* h2{
    text-align: center;
} */
.first a{
    text-decoration: none;
    color: rgb(240, 220, 40) ;
}
.first a:hover{
    color: rgb(240, 220, 40) ;
    text-decoration: underline;
}
.secound a{
    text-decoration: none;
    color: rgb(242, 106, 33);
}
.secound a:hover{
    color:rgb(242, 106, 33) ;
    text-decoration: underline;
}
.third a{
    text-decoration: none;
    color:rgba(2, 165, 2, 0.571) ;
}
.third a:hover{
    color:rgba(2, 165, 2, 0.571) ;
    text-decoration: underline;
}
.fourth a{
    text-decoration: none;
    color: rgba(52, 52, 254, 0.464);
}
.fourth a:hover{
    color:rgba(52, 52, 254, 0.464) ;
    text-decoration: underline;
}
.txt{
    line-height: 30px;
}
.card-1{
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.3)
}
.crd{
    background-color:rgba(246, 238, 238, 0.072);
    width: 40rem;
}
.bs{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.mar{
    margin-bottom: 100px;
}
.imag{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.twit{
    color:rgba(57, 175, 248, 0.842);
}
.fb{
    color: blue;
}
.mar{
    margin-top: 50px;    
}
/*  */

.margin{
    margin-bottom: 50px;
}
.margin3{
    margin-right: 25px;
}
.margin2{
    margin-bottom: 0px;
}
.boxs{
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.3);
}

.colour{
    color :rgb(242, 106, 33);
}

/* / Small devices (landscape phones, 576px and up) / */
@media (max-width: 576px) {
    .over{
        overflow-x: hidden;
    }
}
/* / XX-Large devices (larger desktops, 1400px and up) / */
@media (max-width: 1400px) {
  .imgres{
    width:40rem;
  }
}

/* / X-Large devices (large desktops, 1200px and up) / */
@media  (min-width: 992px) and (max-width: 1200px) {
    .crd{
        width: 30rem;
    }
    .imgres{
        width:30rem;
      }
} 

/* / Large devices (desktops, 992px and up) / */
@media (min-width: 768px) and (max-width:992px){
    .crd{
        width: 22rem;
    }
    .imgres{
        padding-bottom: 30px;
        width:40rem;
        justify-content:center ;
    }
    
}
@media (max-width: 768px) {
    .cr{
        display: flex;
        flex-direction:column;
    }
    .crd{
        width:30rem;
        margin-left: auto;
        margin-right: auto;
    }
    .imgres{
        padding-bottom: 20px;
        width:30rem;
        display: grid;
        place-items: center;
  }
  @media (max-width:576px){
    .crd{
        width: 22rem;
    }
    .crd-2{
        width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
    .imgres{
        padding-bottom: 20px;
        width:25rem;
        display: grid;
        place-items: center;
    }
  }
  @media (max-width:370px){
    .crd{
        width: 17rem;
    }

    .crd-2{
    width:17rem;
    margin-left: auto;
    margin-right: auto;
}
  }
  @media (max-width:450px)  {
    .imgres{
        padding-bottom: 20px;
        width:18rem;
        display: grid;
        place-items: center;
    }
  }

@media (min-width: 768px) {
    .cardbottom{
      margin: 15px;
    }
  }
  @media (max-width:300px)  {
    .imgres{
        padding-bottom: 20px;
        width:14rem;
        display: grid;
        place-items: center;
    }
}
}